params {

  output_dir = "/nethome/huangk3/bcbb/DATA_ANALYSIS/nextflow/test"


  picard_jar="\${EBROOTPICARD}/picard.jar"
  gatk_jar="\$EBROOTGATK/gatk"
  targets = "/nethome/huangk3/bcbb/reference/xgen_plus_spikein.b38.chr.intervals"
  baits = "/nethome/huangk3/bcbb/reference/xgen_plus_spikein.b38.chr.bed"
  ip = 50
  geneList= "/hpcdata/dir/MISC_DATA_FILES/pipeline_files_from_CIDR/RefSeqAll_hg38_rCRS-MT.gatk.txt"
  // ExcessHet is a phred-scaled p-value. We want a cutoff of anything more extreme
  // than a z-score of -4.5 which is a p-value of 3.4e-06, which phred-scaled is 54.69
  excess_het_threshold = 54.69
  ref = "/hpcdata/bio_data/current/GATK/bundle/hg38/Homo_sapiens_assembly38.fasta"
  ref_dic = "/hpcdata/bio_data/current/GATK/bundle/hg38/Homo_sapiens_assembly38.dict"
  axiom = "/hpcdata/bio_data/current/GATK/bundle/hg38/Axiom_Exome_Plus.genotypes.all_populations.poly.hg38.vcf.gz"
  one_thousand = "/hpcdata/bio_data/current/GATK/bundle/hg38/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
  params.mills = "/hpcdata/bio_data/current/GATK/bundle/hg38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
  hapmap = "/hpcdata/bio_data/current/GATK/bundle/hg38/hapmap_3.3.hg38.vcf.gz"
  omini = "/hpcdata/bio_data/current/GATK/bundle/hg38/1000G_omni2.5.hg38.vcf.gz"
  dbsnp = "/hpcdata/bio_data/current/GATK/bundle/hg38/Homo_sapiens_assembly38.dbsnp138.vcf"
  dbnsfpDir = "/sysapps/cluster/software/VEP/84-goolf-1.7.20/.vep/dbNSFP/4.0a"
  //params.controlExomes = "/hpcdata/pid/andrew/results/2018-07-19_Control_Exomes/control_gvcfs.list"
  snv_recal_tranche_values = ["100.0", "99.95", "99.9", "99.8", "99.6", "99.5", "99.4", "99.3", "99.0", "98.0", "97.0", "90.0" ]
  snv_recal_annotation_values = ["QD", "MQRankSum", "ReadPosRankSum", "FS", "MQ", "SOR", "DP"]
  indel_recal_tranche_values = ["100.0", "99.95", "99.9", "99.5", "99.0", "97.0", "96.0", "95.0", "94.0", "93.5", "93.0", "92.0", "91.0", "90.0"]
  indel_recal_annotation_values = ["FS", "ReadPosRankSum", "MQRankSum", "QD", "SOR", "DP"]
  snp_filter_level = 99.7
  indel_filter_level = 99.7
}

executor {
  name = 'uge'
  queue = 'quick'
  queueSize = '1000'
}

report {
  enabled = true
}

process {
  shell = ['/bin/bash','-e']
  beforeScript = 'source $HOME/.bashrc'
  errorStrategy = 'retry'
  maxRetries = 0
  scratch = true
//  module = 'picard/2.1.1:gatk/4.0-8-Java-1.8.0_92:bwa/0.7.17-goolf-1.7.20:fastqc/0.11.5-Java-1.8.0_45:multiqc/1.7-Python-3.5.5:samtools/1.9-goolf-1.7.20:bcftools/1.9-goolf-1.7.20'
  
  withLabel: highcpu {
    clusterOptions = "-pe threaded 8 -l h_vmem=8G -m ae -M ke.huang@nih.gov"

  } 
  withLabel: mediumcpu {
    clusterOptions = "-pe threaded 4 -l h_vmem=8G -m ae -M ke.huang@nih.gov"

  } 
  withLabel: highmem {
    clusterOptions = "-pe threaded 8 -l h_vmem=16G -m ae -M ke.huang@nih.gov"
  }	
}

env {
  NXF_TEMP = "/hpcdata/scratch/huangk3/" 
  NXF_CONDA_CACHEDIR = "/nethome/huangk3/.conda/envs/gris-ngs-v0.1"
}

