params.picard_jar="\${EBROOTPICARD}/picard.jar"
params.gatk_jar="\$EBROOTGATK/gatk"

params.targets = "/nethome/huangk3/bcbb/reference/xgen.b37.intervals"
//params.targets = "/nethome/huangk3/bcbb/Andrew_Demo/WESTrainingCourse/exome.interval_list"

params.baits = "/nethome/huangk3/bcbb/reference/xgen-exome-research-panel-targets.bed"
params.ip = 50

// ExcessHet is a phred-scaled p-value. We want a cutoff of anything more extreme
// than a z-score of -4.5 which is a p-value of 3.4e-06, which phred-scaled is 54.69
params.excess_het_threshold = 54.69
params.ref = "/hpcdata/bio_data/current/GATK/bundle/2.8/b37/human_g1k_v37_decoy.fasta"
params.ref_dic = "/hpcdata/bio_data/current/GATK/bundle/2.8/b37/human_g1k_v37_decoy.dict"
params.axiom = "/hpcdata/bio_data/current/GATK/bundle/2.8/b37/Axiom_Exome_Plus.genotypes.all_populations.poly.vcf.gz"
params.one_thousand = "/nethome/huangk3/bcbb/reference/b37/1000G_phase1.snps.high_confidence.b37.vcf"
params.mills = "/nethome/huangk3/bcbb/reference/b37/Mills_and_1000G_gold_standard.indels.b37.vcf"
params.hapmap = "/nethome/huangk3/bcbb/reference/b37/hapmap_3.3.b37.vcf"
params.omini = "/nethome/huangk3/bcbb/reference/b37/1000G_omni2.5.b37.vcf"
params.dbsnp = "/nethome/huangk3/bcbb/reference/b37/dbsnp_138.b37.vcf"
params.output_dir = "/nethome/huangk3/bcbb/DATA_ANALYSIS/nextflow/test"
params.controlExomes = "/hpcdata/pid/andrew/results/2018-07-19_Control_Exomes/control_gvcfs.list"
params.snv_recal_tranche_values = ["100.0", "99.95", "99.9", "99.8", "99.6", "99.5", "99.4", "99.3", "99.0", "98.0", "97.0", "90.0" ]
params.snv_recal_annotation_values = ["QD", "MQRankSum", "ReadPosRankSum", "FS", "MQ", "SOR", "DP"]
params.indel_recal_tranche_values = ["100.0", "99.95", "99.9", "99.5", "99.0", "97.0", "96.0", "95.0", "94.0", "93.5", "93.0", "92.0", "91.0", "90.0"]
params.indel_recal_annotation_values = ["FS", "ReadPosRankSum", "MQRankSum", "QD", "SOR", "DP"]
params.snp_filter_level = 99.7
params.indel_filter_level = 99.7


executor {
  name = 'uge'
  queue = 'quick'
  queueSize = '1000'
}

report {
  enabled = true
}

process {
  beforeScript = 'source $HOME/.bashrc'
  errorStrategy = 'retry'
  maxRetries = 1
  scratch = true
  module = 'picard/2.1.1:gatk/4.0-8-Java-1.8.0_92:bwa/0.7.17-goolf-1.7.20:fastqc/0.11.5-Java-1.8.0_45:multiqc/1.7-Python-3.5.5:samtools/1.9-goolf-1.7.20:bcftools/1.9-goolf-1.7.20'
  
  withLabel: highcpu {
    clusterOptions = "-pe threaded 8 -l h_vmem=8G -m ae -M ke.huang@nih.gov"

  } 
  withLabel: mediumcpu {
    clusterOptions = "-pe threaded 4 -l h_vmem=8G -m ae -M ke.huang@nih.gov"

  } 
  withLabel: highmem {
    clusterOptions = "-pe threaded 8 -l h_vmem=16G -m ae -M ke.huang@nih.gov"
  }	
}
